
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Queueing System</title>
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<section>
    <h1>Welcome to our Hospital Queueing System</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
</section>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="https://localhost:7113/CheckIn">Check-In Page</a></li>
                <li><a href="https://localhost:7113/Waiting">Waiting Page</a></li>
                <li><a href="https://localhost:7113/ServicePoint">Service Point</a></li>
                <li><a href="https://localhost:7113/AdminDashBoard">Admin DashBoard</a></li>
            </ul>
        </nav>
    </header>
    <footer>
        <p>&copy; 2023 Hospital Queueing System</p>
    </footer>
</body>

</html>